*{
    margin: 0;
    padding: 0;
}

 /* start coder 6 */
footer{
    background-color: #181e4b;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer a{
    color: #ecf0f6;
    text-decoration: none;
    margin: 10px;
}

#copyright{
    color: #838383;
    margin-top: 20px;
}
 /* end coder 6 */
 
 /* start coder 25*/
 #riwi_logo{
    border-radius: 50%;
 }
/* end coder 25 */